In [3]:
# Step 1: Import pandas or any other libraries you need
import pandas as pd

In [4]:
# Step 2: Mount Google Drive
from google.colab import drive
drive.mount('/content/drive')

# Step 3: Specify the correct file path
# Replace 'path_to_your_file' with the actual path where your file is stored in Google Drive
file_path = '/content/drive/My Drive/IND6212/collisions_routieres.csv'

# Step 4: Read the file using pandas
df2 = pd.read_csv(file_path)

# Step 5: Display the first few rows to ensure it's loaded correctly
print(df2.head())

Mounted at /content/drive
           NO_SEQ_COLL JR_SEMN_ACCDN    DT_ACCDN  CD_MUNCP  NO_CIVIQ_ACCDN  \
0      SPVM _ 2012 _ 1            ME  2012/02/01   66102.0          3501.0
1     SPVM _ 2012 _ 10            MA  2012/01/03   66023.0             NaN
2    SPVM _ 2012 _ 100            VE  2012/02/24   66023.0             NaN
3   SPVM _ 2012 _ 1000            JE  2012/10/11   66142.0         11800.0
4  SPVM _ 2012 _ 10000            DI  2012/04/22   66023.0            38.0

  SFX_NO_CIVIQ_ACCDN  BORNE_KM_ACCDN          RUE_ACCDN  TP_REPRR_ACCDN  \
0                NaN             NaN         ST CHARLES             2.0
1                NaN             NaN  TERR VILLE DE MTL             NaN
2                NaN             NaN     JACQUES BIZARD             1.0
3                NaN             NaN       BD SALABERRY             NaN
4                NaN             NaN     PL DU COMMERCE             NaN

  ACCDN_PRES_DE  ...  NB_VICTIMES_VELO  VITESSE_AUTOR         LOC_X  \
0          STAT  ...                 0            NaN  276517.37950
1           NaN  ...                 0            NaN  275209.46185
2      CHERRIER  ...                 0           50.0  275759.07900
3           NaN  ...                 0            NaN  280970.09315
4           NaN  ...                 0            NaN  301391.47638

          LOC_Y  LOC_COTE_QD  LOC_COTE_PD  LOC_DETACHEE  LOC_IMPRECISION  \
0  5.035127e+06            A            3             O                N
1  5.038619e+06            B            4             N                N
2  5.039027e+06            A            1             N                O
3  5.038348e+06            A            1             O                N
4  5.036357e+06            A            1             O                N

    LOC_LONG    LOC_LAT
0 -73.861616  45.455505
1 -73.878549  45.486871
2 -73.871542  45.490564
3 -73.804841  45.484648
4 -73.543590  45.467136

[5 rows x 68 columns]

In [5]:
# Display first few rows
print(df.head())

           NO_SEQ_COLL JR_SEMN_ACCDN    DT_ACCDN  CD_MUNCP  NO_CIVIQ_ACCDN  \
0      SPVM _ 2012 _ 1            ME  2012/02/01   66102.0          3501.0
1     SPVM _ 2012 _ 10            MA  2012/01/03   66023.0             NaN
2    SPVM _ 2012 _ 100            VE  2012/02/24   66023.0             NaN
3   SPVM _ 2012 _ 1000            JE  2012/10/11   66142.0         11800.0
4  SPVM _ 2012 _ 10000            DI  2012/04/22   66023.0            38.0

  SFX_NO_CIVIQ_ACCDN  BORNE_KM_ACCDN          RUE_ACCDN  TP_REPRR_ACCDN  \
0                NaN             NaN         ST CHARLES             2.0
1                NaN             NaN  TERR VILLE DE MTL             NaN
2                NaN             NaN     JACQUES BIZARD             1.0
3                NaN             NaN       BD SALABERRY             NaN
4                NaN             NaN     PL DU COMMERCE             NaN

  ACCDN_PRES_DE  ...  NB_VICTIMES_VELO  VITESSE_AUTOR         LOC_X  \
0          STAT  ...                 0            NaN  276517.37950
1           NaN  ...                 0            NaN  275209.46185
2      CHERRIER  ...                 0           50.0  275759.07900
3           NaN  ...                 0            NaN  280970.09315
4           NaN  ...                 0            NaN  301391.47638

          LOC_Y  LOC_COTE_QD  LOC_COTE_PD  LOC_DETACHEE  LOC_IMPRECISION  \
0  5.035127e+06            A            3             O                N
1  5.038619e+06            B            4             N                N
2  5.039027e+06            A            1             N                O
3  5.038348e+06            A            1             O                N
4  5.036357e+06            A            1             O                N

    LOC_LONG    LOC_LAT
0 -73.861616  45.455505
1 -73.878549  45.486871
2 -73.871542  45.490564
3 -73.804841  45.484648
4 -73.543590  45.467136

[5 rows x 68 columns]

In [6]:

# Check dataset information
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 218272 entries, 0 to 218271
Data columns (total 68 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   NO_SEQ_COLL                  218272 non-null  object
 1   JR_SEMN_ACCDN                218272 non-null  object
 2   DT_ACCDN                     218272 non-null  object
 3   CD_MUNCP                     218265 non-null  float64
 4   NO_CIVIQ_ACCDN               93491 non-null   float64
 5   SFX_NO_CIVIQ_ACCDN           444 non-null     object
 6   BORNE_KM_ACCDN               111 non-null     float64
 7   RUE_ACCDN                    205974 non-null  object
 8   TP_REPRR_ACCDN               135965 non-null  float64
 9   ACCDN_PRES_DE                147189 non-null  object
 10  NB_METRE_DIST_ACCD           60692 non-null   float64
 11  CD_GENRE_ACCDN               208205 non-null  float64
 12  CD_SIT_PRTCE_ACCDN           5195 non-null    float64
 13  CD_ETAT_SURFC                205512 non-null  float64
 14  CD_ECLRM                     205353 non-null  float64
 15  CD_ENVRN_ACCDN               211217 non-null  float64
 16  NO_ROUTE                     722 non-null     float64
 17  CD_CATEG_ROUTE               211917 non-null  float64
 18  CD_ETAT_CHASS                53271 non-null   float64
 19  CD_ASPCT_ROUTE               208355 non-null  float64
 20  CD_LOCLN_ACCDN               200509 non-null  float64
 21  CD_POSI_ACCDN                49216 non-null   float64
 22  CD_CONFG_ROUTE               196300 non-null  float64
 23  CD_ZON_TRAVX_ROUTR           4904 non-null    float64
 24  CD_PNT_CDRNL_ROUTE           390 non-null     object
 25  CD_PNT_CDRNL_REPRR           68152 non-null   object
 26  CD_COND_METEO                204670 non-null  float64
 27  NB_VEH_IMPLIQUES_ACCDN       218272 non-null  int64
 28  NB_MORTS                     218272 non-null  int64
 29  NB_BLESSES_GRAVES            218272 non-null  int64
 30  NB_BLESSES_LEGERS            218272 non-null  int64
 31  HEURE_ACCDN                  218272 non-null  object
 32  AN                           218272 non-null  int64
 33  NB_VICTIMES_TOTAL            218272 non-null  int64
 34  GRAVITE                      218272 non-null  object
 35  REG_ADM                      218264 non-null  object
 36  MRC                          218264 non-null  object
 37  nb_automobile_camion_leger   218272 non-null  int64
 38  nb_camionLourd_tractRoutier  218272 non-null  int64
 39  nb_outil_equipement          218272 non-null  int64
 40  nb_tous_autobus_minibus      218272 non-null  int64
 41  nb_bicyclette                218272 non-null  int64
 42  nb_cyclomoteur               218272 non-null  int64
 43  nb_motocyclette              218272 non-null  int64
 44  nb_taxi                      218272 non-null  int64
 45  nb_urgence                   218272 non-null  int64
 46  nb_motoneige                 218272 non-null  int64
 47  nb_VHR                       218272 non-null  int64
 48  nb_autres_types              218272 non-null  int64
 49  nb_veh_non_precise           218272 non-null  int64
 50  NB_DECES_PIETON              218272 non-null  int64
 51  NB_BLESSES_PIETON            218272 non-null  int64
 52  NB_VICTIMES_PIETON           218272 non-null  int64
 53  NB_DECES_MOTO                218272 non-null  int64
 54  NB_BLESSES_MOTO              218272 non-null  int64
 55  NB_VICTIMES_MOTO             218272 non-null  int64
 56  NB_DECES_VELO                218272 non-null  int64
 57  NB_BLESSES_VELO              218272 non-null  int64
 58  NB_VICTIMES_VELO             218272 non-null  int64
 59  VITESSE_AUTOR                137387 non-null  float64
 60  LOC_X                        218261 non-null  float64
 61  LOC_Y                        218261 non-null  float64
 62  LOC_COTE_QD                  218272 non-null  object
 63  LOC_COTE_PD                  218272 non-null  int64
 64  LOC_DETACHEE                 218253 non-null  object
 65  LOC_IMPRECISION              218272 non-null  object
 66  LOC_LONG                     218261 non-null  float64
 67  LOC_LAT                      218261 non-null  float64
dtypes: float64(24), int64(29), object(15)
memory usage: 113.2+ MB
None

In [7]:
# Check missing values percentage
missing_values = (df.isnull().sum() / len(df)) * 100
print(missing_values.sort_values(ascending=False))

BORNE_KM_ACCDN        99.949146
CD_PNT_CDRNL_ROUTE    99.821324
SFX_NO_CIVIQ_ACCDN    99.796584
NO_ROUTE              99.669220
CD_ZON_TRAVX_ROUTR    97.753262
                        ...
NB_VICTIMES_MOTO       0.000000
NB_DECES_MOTO          0.000000
LOC_COTE_QD            0.000000
LOC_COTE_PD            0.000000
LOC_IMPRECISION        0.000000
Length: 68, dtype: float64

In [8]:
# Check missing values
print(df.isnull().sum())

NO_SEQ_COLL             0
JR_SEMN_ACCDN           0
DT_ACCDN                0
CD_MUNCP                7
NO_CIVIQ_ACCDN     124781
                    ...
LOC_COTE_PD             0
LOC_DETACHEE           19
LOC_IMPRECISION         0
LOC_LONG               11
LOC_LAT                11
Length: 68, dtype: int64

In [9]:
# Check summary statistics
print(df.describe())

            CD_MUNCP  NO_CIVIQ_ACCDN  BORNE_KM_ACCDN  TP_REPRR_ACCDN  \
count  218265.000000    93491.000000      111.000000   135965.000000
mean    66023.164016     4775.975613      477.751351        1.124915
std       524.008509     3823.672482     1303.036728        0.330912
min      1023.000000        0.000000        0.000000        0.000000
25%     66023.000000     1498.000000        4.300000        1.000000
50%     66023.000000     4448.000000       50.000000        1.000000
75%     66023.000000     7141.000000      142.500000        1.000000
max     94210.000000    97850.000000     8410.000000        2.000000

       NB_METRE_DIST_ACCD  CD_GENRE_ACCDN  CD_SIT_PRTCE_ACCDN  CD_ETAT_SURFC  \
count        60692.000000   208205.000000         5195.000000  205512.000000
mean           102.327177       33.669432            4.926660      12.346408
std           2058.056593        9.400683            3.552377       5.483459
min              0.000000       31.000000            1.000000      11.000000
25%              5.000000       31.000000            1.000000      11.000000
50%             15.000000       31.000000            3.000000      11.000000
75%             50.000000       31.000000            9.000000      12.000000
max          99999.000000       99.000000            9.000000      99.000000

            CD_ECLRM  CD_ENVRN_ACCDN  ...  NB_VICTIMES_MOTO  NB_DECES_VELO  \
count  205353.000000   211217.000000  ...     218272.000000  218272.000000
mean        1.607627        2.657745  ...          0.008022       0.000142
std         0.900466        0.936735  ...          0.093470       0.011917
min         1.000000        1.000000  ...          0.000000       0.000000
25%         1.000000        2.000000  ...          0.000000       0.000000
50%         1.000000        3.000000  ...          0.000000       0.000000
75%         3.000000        3.000000  ...          0.000000       0.000000
max         4.000000        9.000000  ...          3.000000       1.000000

       NB_BLESSES_VELO  NB_VICTIMES_VELO  VITESSE_AUTOR          LOC_X  \
count    218272.000000     218272.000000  137387.000000  218261.000000
mean          0.030027          0.030169      45.463836  295222.923395
std           0.171625          0.172013       8.718541    6080.408734
min           0.000000          0.000000       0.000000  267986.992400
25%           0.000000          0.000000      40.000000  293375.011000
50%           0.000000          0.000000      50.000000  296435.480330
75%           0.000000          0.000000      50.000000  299202.200000
max           2.000000          2.000000     100.000000  306367.983980

              LOC_Y    LOC_COTE_PD       LOC_LONG        LOC_LAT
count  2.182610e+05  218272.000000  218261.000000  218261.000000
mean   5.042985e+06       1.208071     -73.622571      45.526690
std    5.971792e+03       0.588259       0.077749       0.053788
min    5.029289e+06       1.000000     -73.970506      45.402674
25%    5.038845e+06       1.000000     -73.646169      45.489353
50%    5.042726e+06       1.000000     -73.607135      45.524411
75%    5.046966e+06       1.000000     -73.571695      45.562558
max    5.062512e+06       4.000000     -73.479864      45.702491

[8 rows x 53 columns]

# New Section